*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    /*overflow: hidden;*/
    font-weight: 300;
    box-sizing: border-box;
}
html,body {
    background-color: aliceblue;
    height: 100%;
}
header{
    padding: 5px;
    text-align: center;
    color: white;
    background-color: cadetblue;
    font-weight: 500;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 96%;
}
#messages-container{
    min-height: 400px;
    overflow: scroll;
}
#messages-container > *{
    opacity: 0;
    animation: 500ms show ease;
    animation-fill-mode: forwards;
    padding-left: 3px;
    border-bottom: 1px solid cadetblue;
}
@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
  }

@keyframes animWelcome_Block {
    from { transform: translateY(-100px); }
    to { transform: translateY(0px);}
}
.msgForm {
    display: flex;
    position: relative;
    bottom: -100%;
    transition: all 600ms ease-out;
    flex-direction: column;
    border: 2px solid cadetblue;
    border-radius: 7px;
}
.msgForm.active{
    bottom: 0;
}
#msgForm input{
    padding: 3px;
    font-weight: 300;
}

#msgForm button{
    align-self:flex-end;
    padding: 3px;
}
#msgForm textarea{
    height: 200px;
    resize: none;
    font-weight: 300;
}

.formStyles{
    margin: 3px;
    border: 2px solid cadetblue;
    border-radius: 7px;
}
.msgForm-header{
    display: flex;
    justify-content: space-between;
}
.msgForm-header div{
    display: flex;
}
#changeColorName{
align-self: center;
height: 26px;
width: 26px;
border-radius: 7px;
background-color: black;
}
#welcome_block{
    position: absolute;
    width: 99%;
    left: 0.5%;
    top: -100%;
    margin-top: 5px;
    padding: 5px 0px;
    text-align: center;
    transition: all 2500ms ease-out;
    background-color: cadetblue;
    color:white;
    font-weight: 500;
    border-radius: 7px;
}
#welcome_block.active{
    animation: 800ms animWelcome_Block ease;
    top: 30px;
}
#welcome_block button{
    width: 120px;
}

.settingsBlock{
    opacity: 0;
    margin: 0 auto;
    width: 33%;
    padding: 5px;
    border: 2px solid cadetblue;
    border-radius: 7px;
    text-align: center;
    transition: all 500ms ease-out;
}
@media (max-width:768px) {
    .settingsBlock{
    width:66%;
    }
}
.settingsBlock .submit_button{
    padding: 2px 5px;
}
.settingsBlock .timer{
    width: 50px;
    padding: 2px 0;
 }
